body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */
header {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left,
.header-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-left {
    left: 20px;
}

.header-right {
    right: 20px;
}

/* SHOP LAYOUT */
.shop {
    display: flex;
    gap: 30px;
    padding: 20px;
}

aside {
    width: 20%;
}

main {
    width: 80%;
}

/* SIDEBAR */
aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin-bottom: 5px;
}

/* PRODOTTI */
.lista-prodotti {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.prodotto {
    width: 150px;
    text-align: center;
}

.prodotto:hover
{ 
  transform: scale(1.50); 
  transition: 0.3s; 
}

button {
    margin-top: 5px;
}